{
  "presets": ["es2015-node"],
  "plugins": [
    "transform-async-to-generator",
    "syntax-async-functions",
    [
      "babel-plugin-transform-builtin-extend", {
        globals: ["Error"]
      }
    ]
  ]
}